.node {
    font-size: 75px;
}

.card {
    margin: auto;
    float: none;
    margin-bottom: 10px;
    display: block;
    width: 100%
}

.TACO {
    width: 100%;
    margin: auto;
}

.HPE {
    width: 100%;
    margin: auto;
}

.Android {
    margin: auto;
    display: block;
}

.Android:hover {
    cursor: pointer;
}

.portfolio-caption {
    display: block;
    margin: auto;
    text-align: center;
}

.amodal {
    display: block;
    text-align: center;
}

.amodal:hover {
    cursor: pointer;
}

#contact {
    padding-top: 50px;
    padding-bottom: 20px;
}

.container-fluid {
    padding: 0
}

#projects #skills #contact {
    /*    background-color: #e9ecef;*/
    /*     padding: 10px; */
    padding: 50px;

}
#blogs {
    padding: 50px;
}
#contact {
    background-color: #e9ecef;
}

.viz {
    display: block;
    width: 100%;
    height: 350px;
}

body {
    padding: 0px margin: 0px
}

footer {
    background-color: #212529;
}

hr {
    background-color: #191918;
    border: 0 none;
    color: black;
    height: 2px;
}

.amex {
    width: 80%;
    height: auto;
}

.heading {
    margin-bottom: 1rem;
}

.bg {
    background-color: #e9ecef;
}

.test {
    font: outline;
    font-weight: 180;
}

b,
strong {
    font-weight: 700;
}

.highlighted-heading {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

.pad {
    padding: 15px;
}

.blog-grid{
    padding: auto;
}

a {
    color: black; /* Change this to your desired color */
}
.blog-img img {
    height: 250px;
    width: 350px;
    object-fit: cover;
}
.blog-grid {
    margin-bottom: 20px;
}
.section-heading {
    margin-bottom: 40px;
}